.SignupDiv{
    
    width: 100%;
    box-shadow: 0 0 2px #495867;
    padding: 5%;
    background-color: #577399;
    opacity: 0.8;
    color : #F7F7FF;
}

.signupImgInput{
    margin-left: 25%;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 1px black;
    border-radius: 150px;
    padding: 5px;
    background-color: white;
}