.bhaveshimg{
    border-style: solid;
    border-radius: 400px;
}

.bhaveshcard{
    margin-right:20px;
    margin-left: 20px;
    margin-top:10px;
}

.shivam-card{
    margin: 20px 20px 20px 20px;
}

.shivam-img{
    border-radius: 400px;
}