
.addTimelineButton{
    height: 40px;
    width: 40px;
    background-color: #FE5F55;
    border-radius: 40px;
    color: #F7F7FF;
    padding-top: 5px;
    padding-left: 5px;
    box-shadow: 0 0 2px #FE5F55;
    cursor: pointer;
}

.addTimelineButton:hover{
    box-shadow : 0 0 5px #577399;
    cursor: pointer;
}

.jobFormDiv{
    background-color: #F7F7FF;
    opacity: 0.95;
    padding: 4%;
    height: 700px;
    overflow: scroll;
}

@media (min-width : 500px){
    .jobFormDiv{
        padding: 7%;
    }
}

.JobLabel{
    color: #577399;
    font-weight: 700;
}