.LoginDiv{
    box-shadow: 0 0 2px #495867;
    padding: 5%;
    width: 90%;
    margin-top: 20%;
    background-color: #F7F7FF;
    color: #495867;
}

.LoginDiv2{
    box-shadow: 0 0 2px #495867;
    padding: 5%;
    width: 90%;
    margin-top: 5%;
    background-color: #F7F7FF;
    color: #495867;
}

.LoginCorousel{
    
}