.LoginDiv{
    box-shadow: 0 0 2px #495867;
    padding: 5%;
    width: 90%;
    margin-top: 10%;
    background-color: #577399;
    color: #F7F7FF;
}

.LoginDiv2{
    box-shadow: 0 0 2px #495867;
    padding: 5%;
    width: 90%;
    margin-top: 5%;
    background-color: #577399;
    color: #F7F7FF;
}
.LoginDiv2Navlink{
    color: #BDD5EA;
}

.LoginDiv2Navlink:hover{
    color: #F7F7FF;
}

.LoginCorousel{
    
}