.userProfileDiv{
    width: 80%;
    margin : 5% 10% 5% 10%;
    box-shadow: 0 0 4px #577399;
    padding: 2%;
    border-radius: 3px;
}

.userResume{
    width : 70%;
    height: 700px;
    margin-top: 2%;
}

.userInfoDiv{
    width: 90%;
    margin: 5% 5% 5% 5%;
    height: 700px;
}

.userDP{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    padding: 5px;
    box-shadow: 0 0 2px black;
    margin-left: 16%;
}

.EditButton{
    background-color: #FE5F55;
    width: 65px;
    height: 65px;
    color: #F7F7FF;
    border-radius: 65px;
    text-align: center;
    padding-top: 10px;
    padding-left: 5px;
    box-shadow: 0 0 2px #FE5F55;
    align-items: right;
}

.EditButton:hover{
    box-shadow : 0 0 5px #577399;
    cursor: pointer;
}

.InfoKey{
    font-size: 25px;
    color: #577399;
}

.InfoValue{
    color: #495867;
    font-size: 25px;
    margin-left: 3%;
}